<!DOCTYPE html>
<html>

<head>
    <title>Lassin pakastin</title>

    <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="htmx.min.js"></script>

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Lassin pakastin</h1>
    <div class="post-it-container">
        <div hx-get="https://lumihanki.net/pakastin/index.php" hx-trigger="load" hx-target="this" id="pakastin-lista"
            class="post-it">
            Fetching pakastin...
        </div>

        <form hx-get="https://lumihanki.net/pakastin/change.php" hx-target="#pakastin-lista" class="post-it form">
            <label for="name">Kuka olet:</label>
            <input id="name" name="name" required>

            <label for="index">Mitä tavaraa tahdot muokata:</label>
            <input id="item" name="item" required>

            <label for="amount">Kuinka paljon:</label>
            <input id="amount" name="amount" required type="number">

            <label for="password">Pakastimen salasana:</label>
            <input id="password" name="key" required type="password">

            <button class="submit-button" type="submit">Tunge pakastimeen</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('pakastin-lista').addEventListener('click', function (event) {
                if (event.target.tagName === 'LI' && event.target.classList.contains('pakastin-item')) {
                    const item = event.target;
                    const ownerElement = item.closest('ul').previousElementSibling;
                    const owner = ownerElement ? ownerElement.textContent : '';
                    const [amount, ...itemNameParts] = item.textContent.split('x');
                    const itemName = itemNameParts.join('x').trim();

                    document.getElementById('name').value = owner;
                    document.getElementById('amount').value = amount.trim();
                    document.getElementById('item').value = itemName;
                }
            });
        });
    </script>
</body>

</html>
